* {
    margin: 0;
    padding: 0;
    box-sizing: 0;
}
main {
    background: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url('../img/tour1.webp');
    background-repeat: no-repeat;
    background-size: cover;
    color: white;
    padding-top: 30px;
}
.tour {
    text-align: center;
    padding: 200px;
    font-weight: bold;
}
main h2 {
    padding-left: 90px;
}
main .tour h1 {
    font-size: xxx-large;
}
main .tour a {
    color: white;
    font-weight: lighter;
    text-decoration: none;
}
main .tour input {
    font-weight: bold;
    color: white;
    background-color: transparent;
    border: 1px solid white;
    padding: 10px;
    margin-top: 60px;
}
.main1 {
    display: flex;
    padding: 100px;
    justify-content: center;
}
.img img {
    height: 250px;
    width: 250px;
}
.img2 {
    padding-left: 30px;
    padding-top: 90px;
}